<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).presence || "Chris Heder" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="mask-icon" href="assets/icon.svg" color="#607d8b">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
  </style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

  <nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding-large" title="close menu">×</a>
      <img src="/assets/IMG_0135_pp.JPG" style="width:100%;" class="round-larger"><br><br>
      <h4 class="w3-padding-0"><b>Chris Heder</b></h4>
    </div>
    <!-- <a href="#" class="w3-padding <%= 'w3-text-teal' if current_page?(page: 'index') %>">HOME</a> -->
    <!-- <a href="#" class="w3-padding">ABOUT</a>
    <a href="#" class="w3-padding">PORTFOLIO</a>
    <a href="#" class="w3-padding">CONTACT</a> -->

    <div class="w3-section w3-padding-top w3-large">
      <a href="https://www.facebook.com/chris.heder" class="w3-hover-white hover-text-facebook-blue w3-show-inline-block"><i class="fa fa-facebook-official fa-2x"></i></a>
      <a href="https://twitter.com/Chrisron95" class="w3-hover-white hover-text-twitter-blue w3-show-inline-block"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/chrisheder" class="w3-hover-white hover-text-linkedin-blue w3-show-inline-block"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/chrisron95" class="w3-hover-white hover-text-github-blue w3-show-inline-block"><i class="fa fa-github fa-2x"></i></a>
    </div>
  </nav>

  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"></div>


  <%= yield %>

</body>
</html>
