<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).presence || "Chris Heder" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="mask-icon" href="https://s3.amazonaws.com/chrisheder-assets/icon.svg" color="#607d8b">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, height=device-height, user-scalable=no,  minimum-scale=1">

  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    /*.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}*/
  </style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

  <div class="loader"></div>
  

  <%= yield %>

</body>
</html>
